.about {
    padding-bottom: 1.18rem;
    line-height: 1.4;
   
    p { 
       margin-bottom: 2rem;
       font-size: 1.03rem;
    }
    
    &_goal-image {
        height: 50vh;
        width: 100%;
        background: 
            linear-gradient(
            to right, 
            rgba($primary-color, 0.5),
            rgba($primary-color, 0.9)
        ),
        url('../img/model-1.jpg') center top;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    &_goal {
        width: 70%;
        .text-secondary {
            padding-bottom: 1rem;
        }
    }

    .biography {
        width: 70vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
     
        &_detail {
            background: lighten($primary-color, 10%);
            padding: 0.5rem;
            border-bottom: 2px solid $secondary-color;

            h2 {
                margin: 0.5rem 0;
            }

            p:last-child{
                margin-bottom: .5rem;
            }
        }
    }

   .social-icons {
        display: flex;
       // flex-direction: column;
    }

   /*.copyright {
        transform: rotate(-90deg) translate(3rem, 5rem);
    }*/
}