$primary-color: rgb(39, 39, 39);
$secondary-color: #ff652f;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@mixin  transition-ease {
    transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return #000;
    }@else {
        @return #fff;
    }
}

@function image-linear-gradient($color) {
    @return linear-gradient(
        to right top, 
        rgba($color, 0.3),
        rgba($color, 0.9)
    );
}

@mixin media-sm {
    @media screen and (min-width: 479px) {
        @content;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px) {//768px
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 991px) {//1024px
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1024) {//1600px
        @content;
    }
}