

$primary-color:#f5f1f2; //#979797; //rgb(39, 39, 39); //#f7f7f7; //#0b1c51; //#5d7492;// #94825b;      //rgb(155, 148, 148);
$secondary-color: #8C1100; // #D93721; //#0032E6; //#001C80; //#ff652f; //#1a2944; //#0b1c51; //#a89344; // #91795D; //#dfd438; //#d4df38 ; //#ff652f;
$tertiary-color: #8C1100;

//$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-family: 'Roboto', sans-serif;
$font-family-heading: 'Cantora One', sans-serif;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@mixin  transition-ease {
    transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return #000;
    }@else {
        @return #fff;
    }
}

@function set-heading-color($color) {
    @if (lightness($color) > 40%) {
        @return #0037FF;
    }@else {
        @return #fff;
    }
}

@function menu-over-backgroung() {
   $current-screen: 768;
    @if $current-screen {
       @return transparent;
    } @else {
        @return  $primary-color;
    }
   
}

@function image-linear-gradient($color) {
    @return linear-gradient(
        to right top, 
        rgba($color, 0.3),
        rgba($color, 0.9)
    );
}

@mixin media-md {
    @media screen and (min-width: 768px) {//768px table
        @content;       
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {//1024px laptop  ---- 991?
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1600px) {//1600px pc ---- 1024?
        @content;
    }
}

@mixin media-screen-width($size-px) {
    .about {
        &_goal {
            width: $size-px;
        }

        .biography {
            width: $size-px;
        }
    } 

    .resume {
        .topics {
            width: $size-px;
        }
    }

    .biography {
        width: $size-px;
    }

    .projects {
        &_items {
            width: $size-px;
        }
    }

    .project-page {
        .project_detail {
            width: $size-px;
        }
    }
}

