$primary-color:#5d7492;// #94825b;      //rgb(155, 148, 148);
$secondary-color: #91795D; //#dfd438; //#d4df38 ; //#ff652f;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@mixin  transition-ease {
    transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return #000;
    }@else {
        @return #fff;
    }
}

@function menu-over-backgroung() {
   $current-screen: 768;
    @if $current-screen {
       @return transparent;
    } @else {
        @return  $primary-color;
    }
   
}

@function image-linear-gradient($color) {
    @return linear-gradient(
        to right top, 
        rgba($color, 0.3),
        rgba($color, 0.9)
    );
}

@mixin media-md {
    @media screen and (min-width: 768px) {//768px
        @content;       
    }
}

@mixin media-lg {
    @media screen and (min-width: 991px) {//1024px
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1024) {//1600px
        @content;
    }
}

