
.project-page {   
    padding-bottom: 2rem;
   
    &_bg-image {
        height: $image-height - 200;
        width: 100%;
        background: image-linear-gradient($primary-color),
            url('../img/model-1.jpg') center top;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        
        .text-secondary {
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }

    .project_detail {
        width: 100vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0rem;
     
        &_description {
            padding: 1rem;

            h2 {
                margin: 0.5rem 0 1rem 0;
            }

            h3 {
                font-weight: 500;
                margin: 0.5rem 0;
            }

            p { 
                font-size: 1.205rem;
                line-height: 1.5;
                margin-bottom: 1.5rem;
            }

            p:last-child {
                margin-bottom: 0rem;
            }

            .github:hover {
                color: $secondary-color;
                margin-top: 2rem;
                font-size: 1.2rem;
            } 
        }

        &_images {
            display: flex;
            width: 70vw;
            margin: 2rem auto 0 auto;
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
        }

        &_image {
            padding: 0.3rem;
            text-align: center;
            
        }
    }

    .topics:last-child {
        margin-bottom: 2rem;
    }

    footer {
        @include horizontal-footer;
    }
}

