

@include media-md { //768
    .menu-btn {
        visibility: hidden;
    }

    .nav {
        visibility: visible;

        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;
           // background: $primary-color;
            text-align: right;

            &_item {
                display: inline;
                padding-right: 1.5rem;
            }

            &_link {
                font-size: 1.5rem;
            }
        }

        .menu-home {
            background: transparent;
        }

        .menu-over {
            background: menu-over-backgroung();
        }
    }

    .home {
        &_name{
            font-size: 3.5rem;
        }
    }

    @include media-screen-width(70vw);

   /* .about {
        &_goal {
            width: 70vw;
        }

        .biography {
            width: 70vw;
        }
    } 

  

    .biography {
        width: 70vw;
    }*/

    .resume {

        &_bio-image {
            height: 40vh;
        }

        .text-secondary {
            font-size: 2.5rem;            
        }
    }

    .projects {
        
        .text-secondary {
            font-size: 2.5rem;
        }

        &_bio-image {
            height: 40vh;
        }

        &_items {
            grid-template-columns: repeat(2, 1fr);
        }       
    }

    .footer {        
        @include vertical-footer;
        background: red;        
    }   
    
    .copyright {
           // position: fixed;
           // right: 2rem;      
            transform: translateY(-6rem);
    }
}

@include media-lg { //1024
    .home {
        &_name {
            font-size: 4rem;
        }
    }


    @include media-screen-width(60vw);

  /*  .about {
        &_goal {
            width: 20vw;
        }
        .biography {
            width: 60vw;
        }
    }*/

    .projects {
        &_items {
           // grid-template-columns: repeat(2, 1fr);
        }
    } 

    /*.footer {
        @include vertical-footer;
        bottom: 0;
        background: red; // transparent; 
    }*/
}

@include media-xl { //1600
    .home {
        &_name{
            font-size: 5rem;
        }
    }


    .resume {

        &_bio-image {
            height: 35vh;
        }

        .text-secondary {
            font-size: 2.75rem;            
        }
    }

    .projects {
        
        .text-secondary {
            font-size: 2.75rem;
        }

        &_bio-image {
            height: 35vh;
        }
    }

   /* .about {
        &_goal {
            width: 60vw;
        }
        .biography {
            width: 60vw;
        }
    }

    .resume {
        .topics {
            width: 60vw;
        }
    }*/

    /*.projects_bio-image {
       height: 40vh;
    }*/

}