
.resume {   
    padding-bottom: 2rem;
   
    &_bio-image {
        height: $image-height - 200;
        width: 100%;
        background: image-linear-gradient($primary-color),
            url('../img/model-1.jpg') center top;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        .text-secondary {
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }

   .topics {
        width: 100vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
     
        &_topic {

           // background: lighten($primary-color, 10%);
            padding: 0.5rem;
            // border-bottom: 5px solid $secondary-color;

            &_items{
                margin-left: 1.5rem;
                &_p {
                    margin-bottom: 1rem;
                }
            }
            
            h2 {
                margin: 0.5rem 0 1rem 0;
            }

            h3 {
                font-weight: 500;
                margin: 0.5rem 0;
            }

            p, li { 
                font-size: 1.20rem;
                line-height: 1.3;
            }

            li { 
                padding-bottom: 0.4rem;
            }

        }
    }

    .topics:last-child {
        margin-bottom: 2rem;
    }

    footer {
        @include horizontal-footer;
    }   
}

