

@include media-md { //768
    .menu-btn {
        visibility: hidden;
    }

    .logo {   
       left: 0rem;  
       top: 0.1rem;

       img {
           height: 60px;
       }
   }

    .nav {
        visibility: visible;

        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            text-align: right;
            padding-right: 1rem;

            &_item {
                display: inline;
                padding-right: 1.5rem;
            }

            &_link {
                font-size: 1.5rem;
            }
        }

        .menu-over {
            background: menu-over-backgroung();
        }   
    }

    .home {
        &_name{
            font-size: 3.5rem;
        }
    }

    @include media-screen-width(70vw);

    .about {
        &_goal-image {
            height: $image-height - 150;

            .text-secondary {
                font-size: 2.5rem;            
            }
        }
    }

    .resume {
        &_bio-image {
            height: $image-height - 150;

            .text-secondary {
                font-size: 2.5rem;            
            }
        }        
    }

    .projects {
       
        &_bio-image {
            height: $image-height - 150;
            
            .text-secondary {
                font-size: 2.5rem;
            }
        }

        &_items {
            display: grid; // Note: 1. Display GRID: -ms-grid-column: 1fr 1fr; was changed for display: grid;
            grid-template-columns: repeat(2, 1fr);
        }       
    }

    .project-page {
        &_bg-image {
            height: $image-height - 150;
            
            .text-secondary {
                font-size: 2.5rem;
            }       
        }

        .project_detail {
            &_images { 
                width: 50vw;
                display: grid; // Note: 2. Display GRID:  -ms-grid-column: 1fr 1fr 1fr; was changed for display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }

    .footer {        
        @include vertical-footer;        
    }   
    
    .copyright {
        transform: translateY(-6rem);
    }
}

@include media-lg { //1024

    .nav {
        .menu-nav {
            padding-right: 10rem;
        }
    }

    .logo {   
        left: 10rem;  
        top: 0.1rem;
    }

    .home {
        &_name {
            font-size: 4rem;
        }
    }

    .about {
        &_goal-image {
            height: $image-height - 150;
        }
    }

    @include media-screen-width(60vw);
}

@include media-xl { //1600

    .nav {
        .menu-nav {
            padding-right: 15rem;
        }
    }

    .logo {   
        left: 15rem;  
        top: 0.1rem;
    }

    .home {
        &_name{
            font-size: 5rem;
        }
    }

    .about {
        &_goal-image {
            height: 35vh;

            .text-secondary {
                font-size: 2.75rem;
            }
        }
    }

    .resume {
        &_bio-image {
            height: 35vh;

            .text-secondary {
                font-size: 2.75rem;            
            }
        } 
    }

    .projects {
       
        &_bio-image {
            height: 35vh; 
            
            .text-secondary {
                 font-size: 2.75rem;
            }

        }
    }
}

